<link rel="stylesheet" href="/css/header.css">
<header class="navHeader">
    <a class="display-6 header" style="color:rgb(234, 71, 1)"><b >Issue<i class="fa fa-bug"></i>Tracker</b></a>
    <a href="/issueTracker" ><i class="fa fa-home" aria-hidden="true" style="font-size: large;"></i>Home </a>
    <a href="/issueTracker/projectDetails" class="btn btn-outline-primary" style="color:azure">Project Details</a>
</header>